body {
    background-color: #1E8B9B;
}

h1 {
    text-align: center;
    font-size: 3rem;
    text-shadow: lightgrey 2px 2px;
}

h2 {
    text-align: center;
    font-size: 2rem;
    text-shadow: lightgrey 1px 1px;
}

.mainContainer {
    width: 80%;
    height: 30rem;
    margin: 2rem auto 2rem;
    // background-image: url('../images/library background.jpg');
    // background-size: cover;
    background-color: #D4c229;
    text-align:center;
    border: 5px solid #DE4E40;
    border-radius: 5px;

}

#authorBook {
    width: 80%;
    height: 2rem;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    margin: 8rem auto;
    font-weight: bold;
}

.samples {
    width: 50%;
    height: 9rem;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-radius: 4px;
    font: 1rem BlinkMacSystemFont;
    text-align: center;
    margin: 0rem auto;
    padding: 1px;
    background-color: white;
    color: grey;
}

h3 {
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;

}

#search-results {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 15px;
}

.resultItem {
    margin: 75px;
    padding: 75px 50px;
    background: #D4c229;
    border: 5px solid #DE4E40; 
    border-radiux: 5px;  
}



.quote {
    text-align: center;
    font-size: 1.5rem;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(255, 255, 255, 0.2);
    display: none;
}





