body, input, button {
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    // background-color: #26C6DA;
    background-color: #00BCD4;
}

h1 {
    text-align: center;
    font-size: 3rem;
    // text-shadow: lightgrey 2px 2px;
    color: #fff;
    font-family: 'Lora', serif;
}

h2 {
    text-align: center;
    font-size: 2rem;
    // text-shadow: lightgrey 1px 1px;
    color: #fff;
    font-family: 'Lora', serif;
}

.mainContainer {
    width: 80%;
    height: 30rem;
    margin: 2rem auto 2rem;
    // background-image: url('../images/library background.jpg');
    // background-size: cover;
    background-color: #80DEEA;
    text-align:center;
    border: 5px solid #00838F;
    border-radius: 5px;

}

#authorBook {
    width: 80%;
    height: 3rem;
    background-color: #fff;
    border: 2px solid #00838F;
    border-radius: 4px;
    margin: 8rem auto;
    font-size: 1rem;
    text-align: center;
    
}

::-webkit-input-placeholder {
    color: #00838F;
    // border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    // margin: 8rem auto;
    font-weight: bold;
}

:-moz-placeholder { /* Firefox 18- */
    color: #00838F;
    // border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    // margin: 8rem auto;
    font-weight: bold;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #00838F;
    // border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    // margin: 8rem auto;
    font-weight: bold;
}

:-ms-input-placeholder {  
    color: #00838F;
    // border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    // margin: 8rem auto;
    font-weight: bold;
}

.samples {
    width: 50%;
    height: 9rem;
    background-color: #fff;
    border: 2px solid #00838F;
    // border-style: inset;
    border-color: initial;
    border-radius: 4px;
    text-align: center;
    margin: -2.5rem auto;
    padding: 1px;
    color: #00838F;
}

h3 {
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #26C6DA;

}



#search-results {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 15px;
}

.resultItem {
    margin: 75px;
    padding: 75px 50px;
    background: #fff;
    border: 5px solid #00838F; 
    border-radius: 5px;  
}

.resultItem h2 {
    color: #00838F;
}


.quote {

    text-align: center;
    font-size: 1.5rem;
    color: #006064;
    padding-bottom: 20px;
    font-family: 'Lora', serif;

}

.backButton {
    margin-top: 30px;
    background-color: #fff;
    border: 2px solid #00838F;
    border-radius: 4px;
    color: #00838F;
    font-weight: bold;
    width: 200px;
    cursor: pointer;
    font-size: 11px;
}


// #loading {
    .icon-spin5:before { content: '\e838'; }
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100vw;
    // height: 100vh;
    // background-image: url(../images/loading.gif);
    // background-repeat: no-repeat;
    // background-position: 50% 50%;
    // background-color: rgba(255, 255, 255, 0.2);
    // display: none;
}

@media only screen and (max-width: 640px) {

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    li {
        font-size: 1rem;
    }

    .samples {
        width: 90%;
    }

    .samples h2 {
        font-size: 1.5rem;
    }

    .search-results {
        width: 90%

    }

    .resultItem {
        margin: 20px;
        padding: 50px 25px;
        
    }

    .resultItem h2 {
        font-size: 1.5rem;
    }
}





